build*/
install*/
Xcode*
.DS_store
*~
*.pyc
**/.ipynb_checkpoints
coverage*
.travis
.vscode*
*.orig

# pixi environments
.pixi
*.egg-info

# benchmark
plot.html

.cache/
compile_commands.json

# vcpkg
vcpkg_installed/
vcpkg_overlays/

# python venv
venv_build/
dist/